#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.overlay-container {
  width: 1152px;
  height: 648px;
  background-color: var(--prussian-blue);
  padding: 10px 20px;
  gap: 20px;
  position: relative;
  overflow: hidden;
  /* border: 5px dashed var(--aquamarine);
  border-style: dotted; */


  /* background-position: top; */

 
  /* background-image: linear-gradient(to bottom, var(--prussian-blue) 0 10%, var(--aquamarine) 0%); 
  background-position: left;
  background-size: 3px 10px; 
  background-repeat: repeat-y;  */
}

.background-container {
  width: 200%;
  height: 200%;
  background-image:  
  linear-gradient(45deg, var(--prussian-blue) 10%, var(--prussian-blue) 80%, var(--aquamarine) 80%, var(--aquamarine) 85%); 
  background-size: 3% 2%; 
  background-repeat: repeat; 
  position: absolute;
  transform: rotateZ(45deg);
}

.sm64-gameplay-row {
  gap: 80px;
  width: 100%;
  height: 60%;
  z-index: 2;
}

.overlay-bottom-row {
  width: 100%;
  height: 40%;
  background: linear-gradient(45deg, var(--chalk-violet), var(--aquamarine));
  background-repeat: no-repeat;
  animation: stripeSlide 4s infinite ease-in-out;
  z-index: 2;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient-test {
  width: 100%;
  height: 40%;
  border-radius: 24px;
  border: 6px var(--chalk-pink) solid;
	/* background: linear-gradient(-45deg, var(--aquamarine) 0%, var(--aquamarine) 20%, var(--chalk-violet) 20%, 
                                  var(--chalk-violet) 30%, var(--aquamarine) 30%, var(--aquamarine) 40%,
                                  var(--chalk-violet) 40%, var(--chalk-violet) 50%, var(--aquamarine) 50%,
                                  var(--aquamarine) 100%); /*big stripes*/

 background: linear-gradient(-45deg, var(--aquamarine) 0%, var(--aquamarine) 50%, var(--chalk-violet) 50%, 
                                  var(--chalk-violet) 60%, var(--aquamarine) 60%, var(--aquamarine) 70%,
                                  var(--chalk-violet) 70%, var(--chalk-violet) 72%, var(--aquamarine) 72%,
                                  var(--aquamarine) 74%, var(--chalk-violet) 74%, var(--chalk-violet) 76%,
                                  var(--aquamarine) 76%, var(--aquamarine) 100%); /*small to big stripes*/
  
	background-size: 600% 600%;
	animation: gradient 18s linear infinite;
  animation-direction: normal;
  animation-fill-mode: backwards;
  z-index: 2;
}

.overlay-toggle-container {
  background-color: var(--main-purple);
  width: 80px;
  height: 40px;
  align-self: flex-end;
  border: 3px solid var(--chalk-pink);
  z-index: 2;
}
.overlay-toggle-btn {
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--chalk-pink);
  color: var(--prussian-blue);
}
.overlay-toggle-container,
.overlay-toggle-btn {
  border-radius: 20px;
}
.overlay-toggle-btn:hover {
  background-color: var(--main-purple);
  color: var(--chalk-pink);
  transition: all .3s ease;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 100%;
	}
	/* 100% {
		background-position: 0% 50%;
	} */
}

@keyframes stripeSlide {
  /* from {
    background: linear-gradient(45deg, var(--chalk-violet) 20%, var(--aquamarine) 20%);
  }
  to {
    background: linear-gradient(45deg, var(--chalk-violet) 80%, var(--aquamarine) 20%);
  } */
  /* 100% {
    background: linear-gradient(45deg, var(--chalk-violet) 20%, var(--aquamarine) 20%);
  } */
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
  /* 100% {
    background-position: 0% 50%;
  } */
}
